* {
    margin: 0;
    padding: 0;
}

header {
    font-size: 30px;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid black;
}

body {
    font-family: "Roboto", sans-serif, fat;
    background-color: dimgrey;
    color: black;
}

main {
    width: 720px;
    margin: 20px auto;
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 10px;
}

table {
    margin: 0 auto;
}

input.number {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    background-color: darkred;
    color: black;
}

#count {
    font-weight: bold;
    text-align: center;
}

#newGameButton {
    width: 200px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: darkred;
    border: 1px solid black;
    display: block;
}
