.grid {
    display: grid;
    grid-template-columns: 75px 75px 75px;
    grid-template-rows: 75px 75px 75px;
    justify-content: center;
}

.button {
    /* Green */
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.arial {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.border {
    display: inline;
    border: thin solid;
}

